<div id="mail_right"></div>
<div id="inbox">
    <%= render :partial => "layouts/inbox_list" %>
</div>
<div id="mailbox_list">
    <%= render :partial => "layouts/mailbox_container" %>
    <div id="mailbox_trash">
        <%= render :partial => "layouts/trash_container" %>
    </div>
</div>
<%= drop_receiving_element("mailbox_trash",
:accept => "inbox_messages",
:complete => "Element.hide('spinner')",
:loading => "Element.show('spinner')",
:hoverclass => "dragdrop_hover",
:url => {:controller => "messages", :action => "destroy"}) %>
