<li>
	<table class="link">
		<tr class="link">
			<td class="link" style="width:59px;">
				<%= image_tag("inbox.jpg", :border=>0) %>
			</td>
			<td class="link">
				<%= link_to "  Eingang", inbox_path %>
			</td>
		</tr>
	</table>
</li>
