<li>
	<table class="link">
		<tr class="link">
			<td class="link">
				<%= image_tag("sent.jpg", :border=>0) %>
			</td>
			<td class="link">
				<%= link_to "Gesendet", :controller => "sent", :action => "index" %>
			</td>
		</tr>
	</table>
     
</li>