<% @folders = Folder.all(:conditions => ["user_id = #{current_user.id} and name = 'Trash'"])
@folder = Folder.find(@folders[0].id) %>
<li>
    <table class="link">
        <tr class="link">
            <% if (@message = MessageCopy.all(:conditions => "recipient_id = #{current_user.id} and folder_id = #{@folder.id}").size) > 0 %>
            <td class="link" style="width:59px;">
                <%= link_to image_tag("trash_filled.jpg", :border=>0), trash_path %>
            </td>
			<% else %>
			<td class="link" style="width:59px;">
                 <%= link_to image_tag("trash_klein.jpg", :border=>0), trash_path %>
            </td>
			<% end %>
            <td class="link">
                <%= link_to "Papierkorb", trash_path %>
            </td>
        </tr>
    </table>
</li>